body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1288px;
  padding: 0 20px;
  margin: 0 auto;
}

/* #region HEADER */
.header .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.header-logo-link {
}

.header-logo-img {
}

.header-nav-box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-nav {
}

.header-nav-list {
  display: flex;
  gap: 28px;
}

.header-nav-item {
}

.header-nav-link {
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
}

.header-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;

  border-radius: 30px;
  padding: 6px 17px;
  width: 98px;
  height: 32px;
  background: #bbf330;
}
/* #endregion */

/* !HERO */
